DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=sgpa

PORT=3000
NODE_ENV=development

JWT_SECRET=

SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=

SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
MAIL_FROM=

